@use "sass:math";

@media only screen and (max-width: 2560px) {

}

@media only screen and (min-width: 1921px) {

}

@media only screen and (min-width: 1819px) {

}

@media only screen and (min-width: 1619px) {

}

@media only screen and (max-width: 1281px) {
}

@media only screen and (max-width: 1025px) {
	.container {
		width: 80%;
	}

	.header {
		&__container {
			width: 90%;
		}
	}

	.plans {
		&__container {
			padding-right: 0;
		}

		&__descr-row {
			padding-right: 0;
		}

		&__list {
			gap: 30px;
			padding: 20px 30px;
			flex-wrap: wrap;
			margin-top: 50px;
		}

		&__item {
			width: calc(50% - 15px);
			padding: 20px 30px;

			&.popular {
				flex: initial;
				margin: 0 auto;
			}
		}
	}
}

@media only screen and (max-width: 901px) {
}

@media only screen and (max-width: 769px) {
	.container {
		width: 100%;
		padding: 0 15px;
	}

	.plans {
		&__list {
			gap: 30px;
			padding: 8px;
		}
	}
}

@media only screen and (max-width: 651px) {
	.plans {
		padding-bottom: 65px;

		&__title {
			margin-bottom: 20px;
		}

		&__descr-row {
			flex-direction: column;
			align-items: flex-start;
			gap: 35px;
		}

		&__switcher {
			align-self: center;
		}

		&__list {
			gap: 48px;
			flex-direction: column;
			padding: 32px 8px 8px;
			margin-top: 32px;
		}

		&__item {
			width: 100%;
			padding: 0 20px;
		}

		&__item-btn {
			max-width: none;
		}

		&__item-popular {
			align-self: center;
		}
	}
}

@media only screen and (max-width: 551px) {
	.header {
		&__btn {
			display: none;
		}
	}
}

@media only screen and (max-width: 421px) {
}

@media only screen and (max-width: 361px) {
}

@media only screen and (max-width: 321px) {
}
