$color-white: #FFFFFF;
$color-black: #000000;

$fontsize: 15px;
$font-main: 'Poppins', sans-serif;

$color-dark-blue: #231D4F;
$color-purple: #BB6BD9;
$color-dark-purple: #A847CC;
$color-black-purple: #403879;
$color-light-grey: #F5F5FA;
$color-grey: #848199;
$color-vanilla: #F2DAD5;

$bg-gradient: linear-gradient(180deg, #F5F5FA 0%, #F2DAD5 44.15%, #A1ABD6 100%);

@keyframes gradient {
	0% {
		transform: translateX(-100%) skew(45deg);
	}

	100% {
		transform: translateX(100%) skew(45deg);
	}
}